<div class="container" id="form-page">
   <h2 class="text-center">{{button}}</h2>

   <form action="{{action}}" method="POST">
      {{#if username}}
      <label for="username">
         UserName :
      </label>
      <input type="text" name="username" id="username">
      {{/if}}
      <label for="email">
         Email :
      </label>
      <input type="text" name="email" id="email">
      <label for="password">
         Password :
      </label>
      <input type="password" name="password" id="password">
      <input type="submit" value=" {{button}} " class="button">
      <p class="ali-r">
         <a href="{{href}}">{{anchar}}</a>
      </p>
   </form>

   {{#if error}}
   <h2 class="text-center">
      <span class="warning">Error :</span>
   </h2>
   <p class="ermsg text-center">{{error_message}} </p>
   {{/if}}

</div>